{{ partial "header.html" . }}
<!-- Main -->
<article id="main" {{ if .Site.Params.cleanLook }}style='background-image: url(), url(), url(), url();'{{ end }}>

	<header class="special container">
		<span class="icon fa-{{ .Params.icon }}"></span>
		<h2>{{ .Title }}</h2>
	</header>

	<!-- One -->
	<section class="wrapper style4 container">

		{{ if eq .Params.class "right-sidebar"}}
		<div class="row 150%">
			<div class="8u 12u(narrower)">
				{{ else if eq .Params.class "left-sidebar" }}
				<div class="row 150%">
					{{ partial "section-list.html" . }}
					<div class="8u 12u(narrower) important(narrower)">
						{{ end }} 
						<!-- Content -->
						<div class="content">
							<section>
				<div class="row">
                                <div class="3u 0u(narrower)"></div>
                                <div class="6u 12u(narrower)">
{{ if not .Params.hideImage }}
								<a href="{{ .Permalink }}" class="image featured"><img src="{{ .Params.imageURL }}" alt="{{ .Title }}" /></a>
{{end}}

                                </div>
                                <div class="3u 0u(narrower)"></div>
                                </div>

																{{ .Content }}
							</section>
						</div>
						{{ if eq .Params.class "right-sidebar"}}
					</div>
					{{ partial "section-list.html" . }}
				</div>
				{{ else if eq .Params.class "left-sidebar" }}
			</div>
		</div>
		{{ end }} 


	</section>

	{{ if eq .Params.class "no-sidebar" }}
	<!-- Two -->
	<section class="wrapper style1 container special">
		<div class="row">
			{{ partial "section-list.html" . }}
		</div>
	</section>
	{{ end }}

</article>

{{ partial "footer.html" . }}	
