{{ partial "header.html" . }}
<!-- Main -->
<article id="main" {{ if .Site.Params.cleanLook }}style='background-image: url(), url(), url(), url();'{{ end }}>

	<header class="special container">
		<span class="icon fa-{{ .Params.icon }}"></span>
		<h2>{{ .Title }}</h2>
	</header>

	<!-- One -->
	<section class="wrapper style4 container">

		<!-- Content -->
		<div class="content">
			<section>
				<div class="row">
				<div class="3u 0u(narrower)"></div>
				<div class="6u 12u(narrower)">
					<a href="{{ .Permalink }}" class="image featured"><img src="{{ .Params.imageURL }}" alt="{{ .Title }}" /></a>
				</div>
				<div class="3u 0u(narrower)"></div>
				</div>
				{{ .Content }}
			</section>
		</div>

	</section>
</article>
{{ partial "footer.html" . }}	

